# OpenGLES renderer dependencies

git /extensions/OpenGLESRenderer             https://github.com/OpenEngineDK/extensions-OpenGLESRenderer.git
git /extensions/OpenGLESResources             https://github.com/OpenEngineDK/extensions-OpenGLESResources.git

git-dev /extensions/OpenGLESRenderer         git@github.com:OpenEngineDK/extensions-OpenGLESRenderer.git
git-dev /extensions/OpenGLESResources        git@github.com:OpenEngineDK/extensions-OpenGLESResources.git

# extension data
any /resources/ http://openengine.dk/data/extensions/OpenGLESRenderer/Shaders.zip